.upload-image img {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
