.button-containeru {
  position: relative;
  z-index: 9998;
}

.button-containeri {
  position: fixed;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.basket {
  position: absolute;
  padding-top: 2rem;
}

.basket img {
  margin-top: 1rem;
  border-radius: 8px;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
  box-shadow: 0 4px 8px #fcfbfb33;
  width: 50%;
}

.basket li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #444;
  padding-bottom: 1rem;
  list-style-type: none;
  flex-direction: column;
}

.basket button {
  position: relative;
  margin: 0.4rem 0.5rem;
}

.sub-basket {
  position: relative;
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconio-button {
  background-color: transparent; /* Fondo transparente */
  color: #ffffff; /* Color del texto */
  border: 2.5px solid #ffffff; /* Borde sólido */
  border-radius: 12px; /* Bordes redondeados */
  padding: 5px 10px; /* Relleno interno */
  cursor: pointer;
  font-size: 0.8rem;
}

.iconio-button:focus {
  outline: none;
}

.iconio-button:hover {
  background-color: #858282; /* Puedes cambiar el color al pasar el mouse */
}
