.home-container {
  overflow-x: hidden;
}

.container-advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container-advertisement img {
  width: 80%;
  display: block;
  margin: 0 auto;
  aspect-ratio: 16/9;
  position: relative;
}

.container-advertisement .info {
  z-index: 30;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
  position: absolute;
  margin-top: -45%;
  margin-left: 12%;
}

.container-advertisement:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.container-advertisement .info h1 {
  margin: 0;
}

.container-advertisement .info p {
  letter-spacing: 1px;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.icon-buttoni {
  background-color: transparent; /* Fondo transparente */
  color: white; /* Color del texto */
  border: 2.5px solid white; /* Borde sólido */
  border-radius: 12px; /* Bordes redondeados */
  padding: 5px 10px; /* Relleno interno */
  cursor: pointer;
  font-size: 0.8rem;
}

.icon-buttoni:focus {
  outline: none;
}

.icon-buttoni:hover {
  background-color: grey; /* Puedes cambiar el color al pasar el mouse */
}

.next-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flyer {
  background-color: #000; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Eliminar el borde del botón */
  border-radius: 50%; /* Borde circular */
  cursor: pointer;
  font-size: 16px;
  position: fixed; /* Hace que el botón sea fijo */
  top: 8rem; /* Coloca el botón en la mitad superior */
  right: 2rem; /* Alinea el botón a la derecha */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para un efecto de elevación */
  transition: box-shadow 0.3s ease, transform 0.1s ease !important; /* Transiciones suaves de la sombra y la transformación */
  z-index: 999999;
}

/* Cambiar el estilo del botón al pasar el ratón sobre él */
.flyer:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al hacer hover */
  transform: translateY(-1rem) scale(1.1) !important ; /* Elevación y escala al hacer hover */
  background-color: grey; /* Cambiar el color de fondo al pasar el ratón */
}

.button-containero {
  position: relative;
}
@media (max-width: 767px) {
  .container-advertisement img {
    width: 250%;
    object-fit: cover;
  }

  .container-advertisement .info {
    margin-top: -140%;
    margin-left: 7%;
  }

  .container-advertisement .info p {
    font-size: 0.8rem;
  }
  .container-advertisement .info h1 {
    font-size: medium;
  }
}

@media (min-width: 768px) {
  .next-button {
    margin-right: 3rem;
  }

  .prev-button {
    margin-left: 3rem;
  }
}
