.home-container {
  overflow-x: hidden;
}

.container-advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container-advertisement img {
  width: 80%;
  display: block;
  margin: 0 auto;
  aspect-ratio: 16/9;
  position: relative;
}

.container-advertisement .info {
  z-index: 30;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s all;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
  position: absolute;
  margin-top: -45%;
  margin-left: 12%;
}

.container-advertisement:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.container-advertisement .info h1 {
  margin: 0;
}

.container-advertisement .info p {
  letter-spacing: 1px;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.icon-buttoni {
  background-color: transparent; /* Fondo transparente */
  color: white; /* Color del texto */
  border: 2.5px solid white; /* Borde sólido */
  border-radius: 12px; /* Bordes redondeados */
  padding: 5px 10px; /* Relleno interno */
  cursor: pointer;
  font-size: 0.8rem;
}

.icon-buttoni:focus {
  outline: none;
}

.icon-buttoni:hover {
  background-color: grey; /* Puedes cambiar el color al pasar el mouse */
}

.next-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container-advertisement img {
    width: 250%;
    object-fit: cover;
  }

  .container-advertisement .info {
    margin-top: -140%;
    margin-left: 7%;
  }

  .container-advertisement .info p {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .next-button {
    margin-right: 3rem;
  }

  .prev-button {
    margin-left: 3rem;
  }
}
