.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div pre {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: auto;
  padding: 2mm;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  max-width: 215px;
  margin: 30px 10px;
}

.filterbar {
  text-decoration: none;
  color: #000;
  display: block;
  height: auto;
  padding: 2mm;
  max-width: 100%;
  margin: 30px 10px;
}

.filterbari {
  text-decoration: none;
  color: #000;
  display: block;
  height: auto;
  padding: 2mm;
  max-width: 100% !important;
  margin: 5px 10px;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom-form {
  max-height: 30px;
  min-width: 100px;
  max-width: 215mm;
}

div pre:hover,
div pre:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.02);
  position: relative;
  z-index: 5;
}

.company-name {
  font-weight: 600;
  padding-top: 20px;
  font-size: 14px;
  padding-bottom: 1px;
}

p {
  padding-bottom: 1px;
  margin-bottom: 2px;
  font-size: 12px;
}

.bill {
  padding-top: 2px;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

td {
  padding: 5px 2px;
  font-size: 10px;
}

.dark-background {
  background-color: #555;
}

.sub-total td {
  color: #ffffff;
}

.pad-l-5 {
  padding-left: 5px;
}

.info-total-price {
  font-weight: 500;
}

.total td:last-child {
  font-size: 12px;
}

.info-graditude-text {
  width: auto;
  margin: 10px 0;
}

.info-graditude-text h1 {
  font-weight: 600;
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 8px;
}

.border-bottom {
  border-bottom: 0.5px solid #ebebeb;
}

.table1 tr:last-child td {
  padding-top: 20px;
}

.separator {
  border-top: 2px dotted #000;
  border-bottom: 2px dotted #000; /* 1px de ancho, punteado, color negro */
  width: 100%;
}

.ican-button {
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  border: 2.5px solid black; /* Borde sólido */
  border-radius: 12px; /* Bordes redondeados */
  padding: 5px 10px; /* Relleno interno */
  cursor: pointer;
  font-size: 0.7rem;
  max-width: 2rem;
}
.act-chk {
  color: green;
  border-color: green;
}

.act-ccl {
  color: red;
  border-color: red;
}

.act-rut {
  color: cadetblue;
  border-color: cadetblue;
}

.ican-button:focus {
  outline: none;
}

.ican-button:hover {
  background-color: lightgrey; /* Puedes cambiar el color al pasar el mouse */
}

.iconise-button {
  background-color: transparent; /* Fondo transparente */
  color: black; /* Color del texto */
  border: 2.5px solid black; /* Borde sólido */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px 10px; /* Relleno interno */
  cursor: pointer;
  font-size: 0.7rem;
}

.iconise-button:focus {
  outline: none;
}

.iconise-button:hover {
  background-color: lightgrey; /* Puedes cambiar el color al pasar el mouse */
}

.custom-input-form {
  border: 2.5px solid black; /* Borde sólido */
  border-radius: 10px; /* Bordes redondeados */
}

@media print {
  @page {
    size: auto; /* Indica al navegador que ajuste automáticamente el tamaño del papel */
    margin: 2mm; /* Establece los márgenes del papel según tus necesidades */
  }

  .section {
    width: 100%;
  }
}
