.image-upload-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box-decoration img {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: contain;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-decoration .after-upload {
  object-fit: cover;
}

.image-upload-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}

.image-upload-input {
  display: none;
}
