:root {
  --color-a: rgb(255, 255, 255);
  --color-b: cadetblue;
  --color-c: grey;
  --color-d: #91b77d;
  --color-e: #c3a873;
  --color-f: #fcc107;
  --color-g: #803b3b;
  --color-h: #3279fd;
  --color-i: #000;
}

.sidebar-expand {
  width: 100% !important; /* Establece el ancho del sidebar */
}

/* Ajusta el ancho de los elementos del sidebar */
.nav-sidebar {
  width: 80% !important; /* Establece el ancho del elemento del sidebar */
}

.navbar-nav ul .nav-item li {
  width: 80% !important; /* Establece el ancho del elemento del sidebar */
}

.alphi-1 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-b) 54%,
    var(--color-a) 100%
  );
}

.alphi-2 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-c) 54%,
    var(--color-a) 100%
  );
}

.alphi-3 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-e) 54%,
    var(--color-a) 100%
  );
}

.alphi-4 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-d) 54%,
    var(--color-a) 100%
  );
}

.alphi-5 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-f) 54%,
    var(--color-a) 100%
  );
}

.alphi-6 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-g) 54%,
    var(--color-a) 100%
  );
}

.alphi-7 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-h) 54%,
    var(--color-a) 100%
  );
}

.alphi-8 {
  background: linear-gradient(
    90deg,
    var(--color-a) 0%,
    var(--color-i) 54%,
    var(--color-a) 100%
  );
}

.cont-a {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-b {
  perspective: 120px;
  width: 500px;
  height: 440px;
  position: absolute;
}
.tarjeta {
  width: 500px;
  height: 640px;
  background-color: #442222;
  font-size: 20px;
  position: absolute;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  animation: Carrusel 32s linear infinite;
}

.tarjeta h3 {
  color: white;
  font-size: 48px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 70px;
  background-color: #4b57fd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  min-height: 5vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.focus-in-contract {
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ctry {
  display: flex;
  justify-content: center;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  filter: blur(3px);
  filter: sepia(1);
}
.video-wrapper {
  width: auto;
  height: 75vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-header {
  position: relative;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  /* Estilos específicos para dispositivos móviles */
  .main-sidebar {
    display: none; /* Oculta el menú lateral en dispositivos móviles */
  }

  .mobile-menu {
    display: block; /* Muestra el menú inferior en dispositivos móviles */
  }
  .hamburger {
    display: none;
  }
}

@media (min-width: 768px) {
  /* Estilos específicos para dispositivos con pantallas más grandes */
  .main-sidebar {
    display: block; /* Muestra el menú lateral en dispositivos con pantallas más grandes */
  }

  .mobile-menu {
    display: none; /* Oculta el menú inferior en dispositivos con pantallas más grandes */
  }

  .hamburger {
    display: inline-block; /* Asegura que el ícono de hamburguesa esté visible en dispositivos más grandes */
  }
}

.navbar-nav li {
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto */
  font-size: x-small; /* Coloca los elementos en una línea horizontal */
}

.navbar-nav li:hover {
  transform: scale(1.05); /* Escala el elemento en un 10% al hacer hover */
}

.navbar-nav li i {
  font-size: 1rem; /* Tamaño de fuente más pequeño para los iconos */
}

.navbar-nav {
  overflow: hidden;
}

.scrollable {
  overflow: hidden;
}

.scrollable li {
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid white;
  user-select: none;
}

.scrollable li.active {
  background: gray;
}

.scrollable ul {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable ul::-webkit-scrollbar {
  display: none;
}

.scrollable .left-arrow,
.scrollable .right-arrow {
  font-size: 0.8rem;
  position: absolute;
  height: 100%;
  width: 0.8rem;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 8px;
}

.scrollable .left-arrow.active,
.scrollable .right-arrow.active {
  display: flex;
}
.scrollable .right-arrow {
  right: 0;
  background: linear-gradient(to left, dark 50%, transparent);
  justify-content: flex-end;
}

.scrollable .left-arrow {
  left: 0;
  background: linear-gradient(to right, dark 50%, transparent);
  justify-content: flex-start;
}

.scrollable .left-arrow i:hover {
  background: #444;
}

.scrollable .right-arrow i:hover {
  background: #444;
}

.scrollable i {
  height: 1.2rem;
  width: 1.2rem;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.errorMessage {
  color: #ac1f1f;
  font-size: small;
}

.over-message {
  overflow-x: visible;
}
